=begin
#Catalog API

#This API gets and orders catalog items from different cloud sources.

OpenAPI spec version: 0.1.0
Contact: support@redhat.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 3.3.4

=end

require 'uri'

module CatalogApiClient
  class PortfolioItemApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a new portfolio item
    # Adds a name and description for a portfolio item and returns the newly created portfolio item. 
    # @param create_portfolio_item 
    # @param [Hash] opts the optional parameters
    # @return [PortfolioItem]
    def create_portfolio_item(create_portfolio_item, opts = {})
      data, _status_code, _headers = create_portfolio_item_with_http_info(create_portfolio_item, opts)
      data
    end

    # Add a new portfolio item
    # Adds a name and description for a portfolio item and returns the newly created portfolio item. 
    # @param create_portfolio_item 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortfolioItem, Fixnum, Hash)>] PortfolioItem data, response status code and response headers
    def create_portfolio_item_with_http_info(create_portfolio_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortfolioItemApi.create_portfolio_item ...'
      end
      # verify the required parameter 'create_portfolio_item' is set
      if @api_client.config.client_side_validation && create_portfolio_item.nil?
        fail ArgumentError, "Missing the required parameter 'create_portfolio_item' when calling PortfolioItemApi.create_portfolio_item"
      end
      # resource path
      local_var_path = '/portfolio_items'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_portfolio_item)
      auth_names = ['APIKeyAuth', 'BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortfolioItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortfolioItemApi#create_portfolio_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an existing portfolio item
    # Deletes the portfolio item based on portfolio item ID passed 
    # @param id ID of the resource
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def destroy_portfolio_item(id, opts = {})
      destroy_portfolio_item_with_http_info(id, opts)
      nil
    end

    # Delete an existing portfolio item
    # Deletes the portfolio item based on portfolio item ID passed 
    # @param id ID of the resource
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def destroy_portfolio_item_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortfolioItemApi.destroy_portfolio_item ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PortfolioItemApi.destroy_portfolio_item"
      end
      # resource path
      local_var_path = '/portfolio_items/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['APIKeyAuth', 'BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortfolioItemApi#destroy_portfolio_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all portfolio items
    # Gets a list of portfolio items. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The numbers of items to return per page. (default to 100)
    # @option opts [Integer] :offset The number of items to skip before starting to collect the result set. (default to 0)
    # @return [PortfolioItemsCollection]
    def list_portfolio_items(opts = {})
      data, _status_code, _headers = list_portfolio_items_with_http_info(opts)
      data
    end

    # List all portfolio items
    # Gets a list of portfolio items. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The numbers of items to return per page.
    # @option opts [Integer] :offset The number of items to skip before starting to collect the result set.
    # @return [Array<(PortfolioItemsCollection, Fixnum, Hash)>] PortfolioItemsCollection data, response status code and response headers
    def list_portfolio_items_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortfolioItemApi.list_portfolio_items ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PortfolioItemApi.list_portfolio_items, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PortfolioItemApi.list_portfolio_items, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling PortfolioItemApi.list_portfolio_items, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/portfolio_items'

      # query parameters
      query_params = {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['APIKeyAuth', 'BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortfolioItemsCollection')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortfolioItemApi#list_portfolio_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the provider control parameters for this portfolio item; requires control paramaters provided when provisioning the portfolio item.
    # Gets the provider control parameters for a portfolio item. 
    # @param portfolio_item_id The Portfolio Item ID
    # @param [Hash] opts the optional parameters
    # @return [ProviderControlParameters]
    def list_provider_control_parameters(portfolio_item_id, opts = {})
      data, _status_code, _headers = list_provider_control_parameters_with_http_info(portfolio_item_id, opts)
      data
    end

    # Gets the provider control parameters for this portfolio item; requires control paramaters provided when provisioning the portfolio item.
    # Gets the provider control parameters for a portfolio item. 
    # @param portfolio_item_id The Portfolio Item ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderControlParameters, Fixnum, Hash)>] ProviderControlParameters data, response status code and response headers
    def list_provider_control_parameters_with_http_info(portfolio_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortfolioItemApi.list_provider_control_parameters ...'
      end
      # verify the required parameter 'portfolio_item_id' is set
      if @api_client.config.client_side_validation && portfolio_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'portfolio_item_id' when calling PortfolioItemApi.list_provider_control_parameters"
      end
      # resource path
      local_var_path = '/portfolio_items/{portfolio_item_id}/provider_control_parameters'.sub('{' + 'portfolio_item_id' + '}', portfolio_item_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['APIKeyAuth', 'BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProviderControlParameters')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortfolioItemApi#list_provider_control_parameters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all service plans for a specific portfolio item; requires a connection to the topology service.
    # Gets all service plans for a portfolio item. 
    # @param portfolio_item_id The Portfolio Item ID
    # @param [Hash] opts the optional parameters
    # @return [Array<ServicePlan>]
    def list_service_plans(portfolio_item_id, opts = {})
      data, _status_code, _headers = list_service_plans_with_http_info(portfolio_item_id, opts)
      data
    end

    # Gets all service plans for a specific portfolio item; requires a connection to the topology service.
    # Gets all service plans for a portfolio item. 
    # @param portfolio_item_id The Portfolio Item ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ServicePlan>, Fixnum, Hash)>] Array<ServicePlan> data, response status code and response headers
    def list_service_plans_with_http_info(portfolio_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortfolioItemApi.list_service_plans ...'
      end
      # verify the required parameter 'portfolio_item_id' is set
      if @api_client.config.client_side_validation && portfolio_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'portfolio_item_id' when calling PortfolioItemApi.list_service_plans"
      end
      # resource path
      local_var_path = '/portfolio_items/{portfolio_item_id}/service_plans'.sub('{' + 'portfolio_item_id' + '}', portfolio_item_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['APIKeyAuth', 'BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ServicePlan>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortfolioItemApi#list_service_plans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a specific portfolio item
    # Gets a specific portfolio item based on the portfolio item ID passed 
    # @param id ID of the resource
    # @param [Hash] opts the optional parameters
    # @return [PortfolioItem]
    def show_portfolio_item(id, opts = {})
      data, _status_code, _headers = show_portfolio_item_with_http_info(id, opts)
      data
    end

    # Gets a specific portfolio item
    # Gets a specific portfolio item based on the portfolio item ID passed 
    # @param id ID of the resource
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortfolioItem, Fixnum, Hash)>] PortfolioItem data, response status code and response headers
    def show_portfolio_item_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortfolioItemApi.show_portfolio_item ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PortfolioItemApi.show_portfolio_item"
      end
      # resource path
      local_var_path = '/portfolio_items/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['APIKeyAuth', 'BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortfolioItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortfolioItemApi#show_portfolio_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit an existing portfolio item
    # Edits portfolio item specified by the given ID.
    # @param id ID of the resource
    # @param portfolio_item Parameters needed to update a Portfolio Item
    # @param [Hash] opts the optional parameters
    # @return [PortfolioItem]
    def update_portfolio_item(id, portfolio_item, opts = {})
      data, _status_code, _headers = update_portfolio_item_with_http_info(id, portfolio_item, opts)
      data
    end

    # Edit an existing portfolio item
    # Edits portfolio item specified by the given ID.
    # @param id ID of the resource
    # @param portfolio_item Parameters needed to update a Portfolio Item
    # @param [Hash] opts the optional parameters
    # @return [Array<(PortfolioItem, Fixnum, Hash)>] PortfolioItem data, response status code and response headers
    def update_portfolio_item_with_http_info(id, portfolio_item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortfolioItemApi.update_portfolio_item ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PortfolioItemApi.update_portfolio_item"
      end
      # verify the required parameter 'portfolio_item' is set
      if @api_client.config.client_side_validation && portfolio_item.nil?
        fail ArgumentError, "Missing the required parameter 'portfolio_item' when calling PortfolioItemApi.update_portfolio_item"
      end
      # resource path
      local_var_path = '/portfolio_items/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(portfolio_item)
      auth_names = ['APIKeyAuth', 'BasicAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PortfolioItem')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortfolioItemApi#update_portfolio_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

  end
end
